* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
    
}

.header {
    width: 100%;
    height: 80px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: inline;
}

.title {
    background-color: #3057E1;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    height: 20px;
    position: relative;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.list {
    width: 60%;
    display: flex;
    flex-direction: row;
    height: inherit;
}

.navelement {
    transition: 0.3s;
    color: white;
    width: 33%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.navelement:hover {
    background-color: black;
}

.container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    background-color: #3057E1;
    font-size: 20px;
    align-items: center;
    overflow: hidden;
    text-align: left;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    transition: 0.5s;
    margin: 20px;
}

.card p {
    text-align: left;
    width: auto;
    margin: 15px;
}

.card img {
    width: calc(100% - 20px);
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.price {
    text-decoration: underline;
}

.button {
    background-color: #002082;
    width: 60%;
    height: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    color: white;
    transition: 0.1s;
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 0px 0px #000000;
}

.info {
    width: 100%;
    display: flex;
}

.image {
    width: 500px;
    height: auto;
    margin: 15px;
}

.text {
    background-color: #3057E1;
    width: 500px;
    margin: 15px;
    padding: 15px;
}

.process {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background-color: #3057E1;
    margin: 15px;
    padding: 15px;
}

.details-input {
    margin: 15px;
    margin-top: 100px;
    background-color: inherit;
    border-color: white;
    border-style: solid;
    width: 200px;
    height: 100px;
    position: absolute;
}

.filter {
    background-color: #3057E1;
    width: 100%;
}

.filter form {
    display: flex;
}

.filter label {
    margin: 15px;
}

.form {
    /* margin: 15px; */
    background-color: #3057E1;
    border-color: white;
    border-style: solid;
}

label {
    display: flex;
    flex-direction: column;
}

.submit {
    background-color: #3057E1;
    border-color: white;
    border-style: solid;
    width: 90%;
    height: 40px;
}


.add-form {
    padding: 10px;
    background-color: #3057E1;
    width: 200px;
    align-items: center;
    justify-content:center;
    display: flex;
    flex-direction: column;
    color: #000000;
}

.add-form input {
    padding: 10px;
    color: #000000;
    
}

