{{define "header.html" }}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="header title">
        <p>Factory CNC machinery</p>
    </div>
    <div class="header navbar">
        <div class="list">
            <a href="/home" class="navelement">About</a>
            <a href="/contacts" class="navelement">Contacts</a>
            <a href="/services" class="navelement">Services</a>
        </div>
    </div>
    <div class="container">
{{end}}