{{define "header.html" }}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="header title">
        <p>Изготовление по ЧПУ программам</p>
    </div>
    <div class="header navbar">
        <div class="list">
            <a href="/home" class="navelement">О компании</a>
            <a href="/contacts" class="navelement">Контакты</a>
            <a href="/services" class="navelement">Программы ЧПУ</a>
            <a href="/admin/additem" class="navelement">Редактировать услуги</a>
        </div>
    </div>
    <div class="container">
{{end}}