{{template "header.html"}}
    <div class="title filter">
        <form>
            <label>
                {{ if eq .Filter "all" }}
                <input type="radio" name="filter" value="all" checked> Все
                {{ else }}
                <input type="radio" name="filter" value="all"> Все
                {{ end }}
            </label>
            <label>
                {{ if eq .Filter "metal" }}
                <input type="radio" name="filter" value="metal" checked> Металл
                {{ else }}
                <input type="radio" name="filter" value="metal"> Металл
                {{ end }}
            </label>
            <label>
                {{ if eq .Filter "wood" }}
                <input type="radio" name="filter" value="wood" checked> Дерево
                {{ else }}
                <input type="radio" name="filter" value="wood"> Дерево
                {{ end }}
            </label>
            
            <label>
                <input class="form" type="number" name="pricefrom" value="{{ .PriceFrom }}"> Цена от
            </label>
            <label>
                <input class="form" type="number" name="priceupto" value="{{ .PriceUpTo }}"> Цена до
            </label>
            <button class="button text" type="submit">Применить фильтр</button>
          </form>
    </div>
        {{range .Items}}
            <div class="card">
                <h3>{{ .Title }}</h3>
                <img src="{{ .ImgURL }}">
                <p>{{ .Subtitle }}</p>
                <p class="price">Цена: {{ .Price }} за болванку</p>
                <br />
                <br />
                <a href="services/{{ .Id }}" class="button">Перейти на страницу</a>
            </div>
        {{end}}
{{template "footer.html"}}

